[settings]
timeout = 1000

[relaychain]
default_command = "polkadot"
chain = "rococo-local"
default_args = ["--disable-worker-version-check"]

[[relaychain.nodes]]
name = "alice"
validator = true

[[relaychain.nodes]]
name = "bob"
validator = true

# Parachain A (para_id: 1000)
[[parachains]]
id = 1000
default_command = "polkadot-omni-node"
chain_spec_path = "chain-specs/parachain-a-raw.json"
cumulus_based = true

[[parachains.collators]]
name = "collator-a"

# Parachain B (para_id: 1001)
[[parachains]]
id = 1001
default_command = "polkadot-omni-node"
chain_spec_path = "chain-specs/parachain-b-raw.json"
cumulus_based = true

[[parachains.collators]]
name = "collator-b"

# Bidirectional HRMP channels for XCM communication
[[hrmp_channels]]
sender = 1000
recipient = 1001
max_capacity = 8
max_message_size = 8192

[[hrmp_channels]]
sender = 1001
recipient = 1000
max_capacity = 8
max_message_size = 8192
